{% load static %}
<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/img/imran.png" type="image/png">
    <link href="{% static '/dist/flowbite.min.css' %}" rel="stylesheet">
    <link href="{% static '/dist/output.css' %}" rel="stylesheet">
    <link href="{% static '/css/fontawesome.min.css' %}" rel="stylesheet">
    <link href="{% static '/css/style.css' %}" rel="stylesheet">
    <link href="{% static '/css/icons.min.css' %}" rel="stylesheet">
    {% block css %}{% endblock css %}
    <title class="font-arabic">{% block title %}{% endblock title %}</title>
</head>

<body class="">
    <nav class="fixed top-0 z-40 flex justify-between w-full items-center px-4 py-2 bg-white shadow">
        <a href="/"><img class="w-10" src="/static/img/imran.png"></a>
        <div class="hidden sm:flex items-center w-1/2 lg:w-full max-w-md ms-8">
            <!-- <label for="voice-search" class="sr-only">Search</label> -->
            <div class="absolute flex items-center pl-3 pointer-events-none">
                <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor"
                    viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                        clip-rule="evenodd"></path>
                </svg>
            </div>
            <button type="button" id="fake-input"
                class="bg-gray-50 h-10 font-medium text-base border border-gray-300 text-gray-900 rounded-lg block w-full pl-10 px-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white hover:bg-gray-100"
                placeholder="Search..."></button>
            <div class="flex -ms-32 cursor-pointer">
                <kbd
                    class="p-1 text-xs font-semibold text-gray-800 bg-gray-200 border border-gray-200 rounded-lg dark:bg-gray-600 dark:text-gray-100 dark:border-gray-500">Ctrl</kbd>
                + <kbd
                    class="p-1 text-xs font-semibold text-gray-800 bg-gray-200 border border-gray-200 rounded-lg dark:bg-gray-600 dark:text-gray-100 dark:border-gray-500">Shift</kbd>
                + <kbd
                    class="p-1 text-xs font-semibold text-gray-800 bg-gray-200 border border-gray-200 rounded-lg dark:bg-gray-600 dark:text-gray-100 dark:border-gray-500">S</kbd>
            </div>
        </div>

        <div class="flex items-center">
            <div class="flex sm:hidden items-center cursor-pointer" id="search-icon">
                <svg aria-hidden="true"
                    class="w-10 h-10 min-h-min min-w-min hover:bg-gray-200 text-gray-600 rounded-full p-2 cursor-pointer"
                    fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                        clip-rule="evenodd"></path>
                </svg>
            </div>

            <div class="flex items-center">
                <button type="button" data-dropdown-toggle="language-dropdown-menu"
                    class="flex items-center font-medium justify-center">
                    <i
                        class="fa-regular fa-circle-question fa-beat w-5 h-5 min-h-min min-w-min hover:bg-gray-200 hover:text-gray-900 rounded-full p-2 cursor-pointer"></i>
                </button>
                <!-- Dropdown -->
                <div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700"
                    id="language-dropdown-menu">
                    <ul class="py-2 font-medium" role="none">
                        <li>
                            <a href="#"
                                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white"
                                role="menuitem">
                                <div class="inline-flex items-center">
                                    <i class="fa-solid fa-circle-plus fa-lg mr-2"></i>
                                    Ask a question
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#"
                                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white"
                                role="menuitem">
                                <div class="inline-flex items-center">
                                    <i class="fa-solid fa-question fa-lg px-1 mr-1"></i>
                                    My questions
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div id="mega-menu-icons">
                <button id="mega-menu-icons-dropdown-button" data-dropdown-toggle="mega-menu-icons-dropdown"
                    class="flex items-center justify-between w-full font-medium text-gray-600 dark:text-white dark:hover:text-blue-500">
                    <i
                        class="fas fa-th-large w-5 h-5 min-h-min min-w-min hover:bg-gray-200 hover:text-gray-900 rounded-full p-2 cursor-pointer"></i>
                </button>
                <div id="mega-menu-icons-dropdown"
                    class="absolute z-10 grid hidden w-fit p-3 grid-cols-2 text-sm bg-white border border-gray-100 rounded-lg shadow-md dark:border-gray-700 dark:bg-gray-700">
                    <a href="{% url 'quran-home' %}" class="flex flex-col w-24 h-20 justify-center items-center text-center text-gray-500 hover:text-gray-700 hover:bg-gray-100 p-2 cursor-pointer rounded-lg">
                        <i class="mdi mdi-book-open-page-variant text-2xl"></i>
                        <p>কুরআন মাজিদ</p>
                    </a>
                    <div class="flex flex-col w-24 h-20 justify-center items-center text-center text-gray-500 hover:text-gray-700 hover:bg-gray-100 p-2 cursor-pointer rounded-lg">
                        <i class="mdi mdi-bookshelf text-2xl"></i>
                        <p>হাদিস</p>
                    </div>
                </div>
            </div>

            <div id="mega-menu-icons">
                <button id="dropdownNotificationButton" data-dropdown-toggle="dropdownNotification"
                    class="flex items-center justify-between w-full font-medium text-gray-600 hover:text-gray-900 dark:text-white dark:hover:text-blue-500"
                    type="button">
                    <i class="fa-solid fa-bell w-5 h-5 min-h-min min-w-min hover:bg-gray-200 rounded-full p-2 cursor-pointer"></i>

                </button>
                <div id="dropdownNotification"
                    class="z-20 hidden w-full sm:max-w-sm bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-800 dark:divide-gray-700"
                    aria-labelledby="dropdownNotificationButton">
                    <div
                        class="block px-4 py-2 font-medium text-center text-gray-700 rounded-t-lg bg-gray-50 dark:bg-gray-800 dark:text-white">
                        Notifications
                    </div>
                    <div class="divide-y divide-gray-100 dark:divide-gray-700">
                        <a href="#" class="flex px-4 py-3 hover:bg-gray-100 dark:hover:bg-gray-700">
                            <div class="flex-shrink-0">
                                <img class="rounded-full w-11 h-11"
                                    src="https://images.unsplash.com/photo-1616699598158-7b1112418fd3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fG11c2xpbSUyMG1hbnxlbnwwfHwwfHw%3D&w=1000&q=80"
                                    alt="Jese image">
                                <div
                                    class="absolute flex items-center justify-center w-5 h-5 ml-6 -mt-5 bg-blue-600 border border-white rounded-full dark:border-gray-800">
                                    <svg class="w-3 h-3 text-white" aria-hidden="true" fill="currentColor"
                                        viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M8.707 7.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l2-2a1 1 0 00-1.414-1.414L11 7.586V3a1 1 0 10-2 0v4.586l-.293-.293z">
                                        </path>
                                        <path
                                            d="M3 5a2 2 0 012-2h1a1 1 0 010 2H5v7h2l1 2h4l1-2h2V5h-1a1 1 0 110-2h1a2 2 0 012 2v10a2 2 0 01-2 2H5a2 2 0 01-2-2V5z">
                                        </path>
                                    </svg>
                                </div>
                            </div>
                            <div class="w-full pl-3">
                                <div class="text-gray-500 text-sm mb-1.5 dark:text-gray-400">New message from <span
                                        class="font-semibold text-gray-900 dark:text-white">Jese Leos</span>: "Hey,
                                    what's up? All set
                                    for the presentation?"</div>
                                <div class="text-xs text-blue-600 dark:text-blue-500">a few moments ago</div>
                            </div>
                        </a>
                        <a href="#" class="flex px-4 py-3 hover:bg-gray-100 dark:hover:bg-gray-700">
                            <div class="flex-shrink-0">
                                <img src="https://images.unsplash.com/photo-1616699598158-7b1112418fd3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fG11c2xpbSUyMG1hbnxlbnwwfHwwfHw%3D&w=1000&q=80"
                                    class="rounded-full w-11 h-11" alt="Joseph image">
                                <div
                                    class="absolute flex items-center justify-center w-5 h-5 ml-6 -mt-5 bg-gray-900 border border-white rounded-full dark:border-gray-800">
                                    <svg class="w-3 h-3 text-white" aria-hidden="true" fill="currentColor"
                                        viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M8 9a3 3 0 100-6 3 3 0 000 6zM8 11a6 6 0 016 6H2a6 6 0 016-6zM16 7a1 1 0 10-2 0v1h-1a1 1 0 100 2h1v1a1 1 0 102 0v-1h1a1 1 0 100-2h-1V7z">
                                        </path>
                                    </svg>
                                </div>
                            </div>
                            <div class="w-full pl-3">
                                <div class="text-gray-500 text-sm mb-1.5 dark:text-gray-400"><span
                                        class="font-semibold text-gray-900 dark:text-white">Joseph Mcfall</span> and
                                    <span class="font-medium text-gray-900 dark:text-white">5 others</span> started
                                    following you.
                                </div>
                                <div class="text-xs text-blue-600 dark:text-blue-500">10 minutes ago</div>
                            </div>
                        </a>
                        <a href="#" class="flex px-4 py-3 hover:bg-gray-100 dark:hover:bg-gray-700">
                            <div class="flex-shrink-0">
                                <img src="https://images.unsplash.com/photo-1616699598158-7b1112418fd3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fG11c2xpbSUyMG1hbnxlbnwwfHwwfHw%3D&w=1000&q=80"
                                    class="rounded-full w-11 h-11" alt="Bonnie image">
                                <div
                                    class="absolute flex items-center justify-center w-5 h-5 ml-6 -mt-5 bg-red-600 border border-white rounded-full dark:border-gray-800">
                                    <svg class="w-3 h-3 text-white" aria-hidden="true" fill="currentColor"
                                        viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                </div>
                            </div>
                            <div class="w-full pl-3">
                                <div class="text-gray-500 text-sm mb-1.5 dark:text-gray-400"><span
                                        class="font-semibold text-gray-900 dark:text-white">Bonnie Green</span> and
                                    <span class="font-medium text-gray-900 dark:text-white">141 others</span> love
                                    your story. See it and
                                    view more stories.
                                </div>
                                <div class="text-xs text-blue-600 dark:text-blue-500">44 minutes ago</div>
                            </div>
                        </a>
                        <a href="#" class="flex px-4 py-3 hover:bg-gray-100 dark:hover:bg-gray-700">
                            <div class="flex-shrink-0">
                                <img src="https://images.unsplash.com/photo-1616699598158-7b1112418fd3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fG11c2xpbSUyMG1hbnxlbnwwfHwwfHw%3D&w=1000&q=80"
                                    class="rounded-full w-11 h-11" alt="Leslie image">
                                <div
                                    class="absolute flex items-center justify-center w-5 h-5 ml-6 -mt-5 bg-green-400 border border-white rounded-full dark:border-gray-800">
                                    <svg class="w-3 h-3 text-white" aria-hidden="true" fill="currentColor"
                                        viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M18 13V5a2 2 0 00-2-2H4a2 2 0 00-2 2v8a2 2 0 002 2h3l3 3 3-3h3a2 2 0 002-2zM5 7a1 1 0 011-1h8a1 1 0 110 2H6a1 1 0 01-1-1zm1 3a1 1 0 100 2h3a1 1 0 100-2H6z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                </div>
                            </div>
                            <div class="w-full pl-3">
                                <div class="text-gray-500 text-sm mb-1.5 dark:text-gray-400"><span
                                        class="font-semibold text-gray-900 dark:text-white">Leslie Livingston</span>
                                    mentioned you in a
                                    comment: <span class="font-medium text-blue-500" href="#">@bonnie.green</span>
                                    what do you say?
                                </div>
                                <div class="text-xs text-blue-600 dark:text-blue-500">1 hour ago</div>
                            </div>
                        </a>
                        <a href="#" class="flex px-4 py-3 hover:bg-gray-100 dark:hover:bg-gray-700">
                            <div class="flex-shrink-0">
                                <img src="https://images.unsplash.com/photo-1616699598158-7b1112418fd3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fG11c2xpbSUyMG1hbnxlbnwwfHwwfHw%3D&w=1000&q=80"
                                    class="rounded-full w-11 h-11" alt="Robert image">
                                <div
                                    class="absolute flex items-center justify-center w-5 h-5 ml-6 -mt-5 bg-purple-500 border border-white rounded-full dark:border-gray-800">
                                    <svg class="w-3 h-3 text-white" aria-hidden="true" fill="currentColor"
                                        viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M2 6a2 2 0 012-2h6a2 2 0 012 2v8a2 2 0 01-2 2H4a2 2 0 01-2-2V6zM14.553 7.106A1 1 0 0014 8v4a1 1 0 00.553.894l2 1A1 1 0 0018 13V7a1 1 0 00-1.447-.894l-2 1z">
                                        </path>
                                    </svg>
                                </div>
                            </div>
                            <div class="w-full pl-3">
                                <div class="text-gray-500 text-sm mb-1.5 dark:text-gray-400"><span
                                        class="font-semibold text-gray-900 dark:text-white">Robert Brown</span>
                                    posted a new video:
                                    Glassmorphism - learn how to implement the new design trend.</div>
                                <div class="text-xs text-blue-600 dark:text-blue-500">3 hours ago</div>
                            </div>
                        </a>
                    </div>
                    <a href="#"
                        class="block py-2 text-sm font-medium text-center text-gray-900 rounded-b-lg bg-gray-50 hover:bg-gray-100 dark:bg-gray-800 dark:hover:bg-gray-700 dark:text-white">
                        <div class="inline-flex items-center ">
                            <svg class="w-4 h-4 mr-2 text-gray-500 dark:text-gray-400" aria-hidden="true"
                                fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10 12a2 2 0 100-4 2 2 0 000 4z"></path>
                                <path fill-rule="evenodd"
                                    d="M.458 10C1.732 5.943 5.522 3 10 3s8.268 2.943 9.542 7c-1.274 4.057-5.064 7-9.542 7S1.732 14.057.458 10zM14 10a4 4 0 11-8 0 4 4 0 018 0z"
                                    clip-rule="evenodd"></path>
                            </svg>
                            View all
                        </div>
                    </a>
                </div>
            </div>

            <div class="flex items-center">
                <button type="button" {% if not user.is_authenticated%}data-modal-target="authentication-modal"
                    data-modal-toggle="authentication-modal" {% else%} data-dropdown-toggle="dropdown-user" {%endif %}
                    aria-expanded="false" class="flex items-center font-medium justify-center">
                    <img class="w-8 h-8 mx-2 rounded-full object-cover" src="{% static 'img/profile.gif' %}">
                </button>
                <!-- Dropdown -->
                <div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded shadow dark:bg-gray-700 dark:divide-gray-600"
                    id="dropdown-user">
                    <div class="px-4 py-3" role="none">
                        <p class="text-sm text-gray-900 dark:text-white" role="none">
                            {{user.first_name}} {{user.last_name}}
                        </p>
                        <p class="text-sm font-medium text-gray-900 truncate dark:text-gray-300" role="none">
                            {{user.email}}
                        </p>
                    </div>
                    <ul class="py-1 text-gray-600" role="none">
                        <li class="flex items-center px-4 hover:bg-gray-100 cursor-pointer">
                            <i class="fa-solid fa-gauge px-1"></i>
                            <a href="#"
                                class="block px-2 py-2 text-sm text-gray-700dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white"
                                role="menuitem">Dashboard</a>
                        </li>
                        <li class="flex items-center px-4 hover:bg-gray-100 cursor-pointer">
                            <i class="fas fa-cog fa-spin px-1"></i>
                            <a href="#"
                                class="block px-2 py-2 text-sm text-gray-700 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white"
                                role="menuitem">Settings</a>
                        </li>
                    </ul>
                    <div class="py-1 px-4 flex items-center text-gray-600 hover:bg-gray-100" role="none">
                        <i class="fa-solid fa-right-from-bracket px-1"></i>
                        <a href="/auth/logout"
                            class="block px-2 py-2 text-sm text-gray-700 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white"
                            role="menuitem">Signout</a>
                    </div>
                </div>
            </div>

        </div>
    </nav>

    <div class="main-content mt-14">

        {% block main_content %}

        {% endblock main_content %}

    </div>

    <div class="foot-nav">
        <div id="searchModal" data-modal-placement="top-center" tabindex="-1" aria-hidden="true"
            class="fixed top-10 left-0 right-0 z-50 sm:p-4 hidden w-full overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] md:h-full">
            <div class="relative w-full h-full max-w-2xl md:h-auto">
                <!-- Modal content -->
                <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                    <!-- Modal header -->
                    <div class="py-2 border-b rounded-t dark:border-gray-600">
                        <form class="flex items-center w-full px-6" method="POST" action="/search/question">
                            {% csrf_token %}
                            <!-- <label for="voice-search" class="sr-only">Search</label> -->
                            <div class="absolute flex items-center pr-3 pointer-events-none">
                                <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400"
                                    fill="currentColor" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg"
                                    stroke-width="0.5">
                                    <path fill-rule="evenodd"
                                        d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                        clip-rule="evenodd"></path>
                                </svg>
                            </div>
                            <input type="text" id="search-input" name="query" placeholder="Search..."
                                class="focus:ring-0 border-0 focus:outline-none h-10 text-base text-gray-900 block w-full pl-10 dark:placeholder-gray-400 dark:text-white "
                                placeholder="Search your question" autocomplete="off">
                            <button type="button" id="search-modal-close"
                                class="inline-flex text-gray-400 -me-5 -mt-6 bg-transparent hover:bg-gray-300 hover:text-gray-700 rounded-lg text-xs p-0.5 ml-auto items-center dark:hover:bg-gray-600 dark:hover:text-white"
                                data-modal-hide="searchModal">
                                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                        clip-rule="evenodd"></path>
                                </svg>
                                <span class="sr-only">Close modal</span>
                            </button>
                        </form>
                    </div>
                    <!-- Modal body -->
                    <div>
                        <div class="p-3 max-h-96 overflow-y-auto">
                            <ul id="result-list" class="">
                                <li class="text-center">
                                    <h3>No Result Found<h3>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="authentication-modal" tabindex="-1" aria-hidden="true"
            class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] md:h-full">
            <div id="login" class="relative w-full h-full max-w-md md:h-auto">
                <!-- Modal content -->
                <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                    <button type="button"
                        class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white"
                        data-modal-hide="authentication-modal">
                        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                    <div class="px-6 py-6 lg:px-8">
                        <h3 class="mb-4 text-xl font-medium text-gray-900 dark:text-white">Sign in to DAWAH</h3>
                        <form class="space-y-6" action="/auth/login" method="POST">
                            {% csrf_token %}
                            <div>
                                <label for="username"
                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
                                <input type="email" name="email" id="username"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                                    placeholder="Enter your email" required>
                            </div>
                            <div>
                                <label for="password"
                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
                                <div>
                                    <input type="password" name="password" id="password"
                                        placeholder="Enter your password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg
                                            focus:ring-blue-500 focus:border-blue-500 w-full p-2.5 dark:bg-gray-600
                                            dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" required>
                                </div>
                                <div id="pass-eye" class="absolute right-10 mr-1 text-gray-600 -mt-8 cursor-pointer"><i
                                        aria-hidden="true" class="fas fa-eye-slash"></i></div>
                                <!-- <svg id="pass-open-eye"
                                            class="pass-eye pass-open-eye w-6 h-6 absolute right-10 -mt-8 cursor-pointer"
                                            viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round">
                                            </g>
                                            <g id="SVGRepo_iconCarrier">
                                                <path opacity="0.1" fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M16.8494 7.05025C14.1158 4.31658 9.6836 4.31658 6.94993 7.05025L4.82861 9.17157C3.49528 10.5049 2.82861 11.1716 2.82861 12C2.82861 12.8284 3.49528 13.4951 4.82861 14.8284L6.94993 16.9497C9.6836 19.6834 14.1158 19.6834 16.8494 16.9497L18.9707 14.8284C20.3041 13.4951 20.9707 12.8284 20.9707 12C20.9707 11.1716 20.3041 10.5049 18.9707 9.17157L16.8494 7.05025ZM12.0002 8.75C10.2053 8.75 8.75019 10.2051 8.75019 12C8.75019 13.7949 10.2053 15.25 12.0002 15.25C13.7951 15.25 15.2502 13.7949 15.2502 12C15.2502 10.2051 13.7951 8.75 12.0002 8.75Z"
                                                    fill="#323232"></path>
                                                <path
                                                    d="M15 12C15 13.6569 13.6569 15 12 15C10.3431 15 9 13.6569 9 12C9 10.3431 10.3431 9 12 9C13.6569 9 15 10.3431 15 12Z"
                                                    stroke="#323232" stroke-width="2"></path>
                                                <path
                                                    d="M6.94975 7.05025C9.68342 4.31658 14.1156 4.31658 16.8492 7.05025L18.9706 9.17157C20.3039 10.5049 20.9706 11.1716 20.9706 12C20.9706 12.8284 20.3039 13.4951 18.9706 14.8284L16.8492 16.9497C14.1156 19.6834 9.68342 19.6834 6.94975 16.9497L4.82843 14.8284C3.49509 13.4951 2.82843 12.8284 2.82843 12C2.82843 11.1716 3.49509 10.5049 4.82843 9.17157L6.94975 7.05025Z"
                                                    stroke="#323232" stroke-width="2" stroke-linejoin="round"></path>
                                            </g>
                                        </svg>
                                        <svg id="pass-close-eye"
                                            class="pass-eye pass-close-eye w-6 h-6 absolute right-10 -mt-8 cursor-pointer"
                                            viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                            <g id="SVGRepo_iconCarrier">
                                                <rect width="24" height="24" fill="white"></rect>
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M8.58579 4.71633C11.5332 3.37594 15.1293 3.91627 17.5561 6.3431L20.5579 9.34489C20.5881 9.37504 20.6179 9.40485 20.6475 9.43436C21.0546 9.84043 21.4062 10.1912 21.6188 10.5908C22.0875 11.4718 22.0875 12.5282 21.6188 13.4091C21.4062 13.8087 21.0546 14.1595 20.6475 14.5655C20.6179 14.5951 20.5881 14.6249 20.5579 14.655L20.5059 14.7071C20.1154 15.0976 19.4822 15.0976 19.0917 14.7071C18.7011 14.3165 18.7011 13.6834 19.0917 13.2929L19.1437 13.2408C19.6921 12.6924 19.8007 12.5683 19.8532 12.4697C20.0094 12.176 20.0094 11.8239 19.8532 11.5302C19.8007 11.4316 19.6921 11.3075 19.1437 10.7591L16.1419 7.75732C14.3237 5.93914 11.627 5.53041 9.41372 6.53692C8.91098 6.76554 8.31809 6.54333 8.08946 6.04059C7.86084 5.53785 8.08305 4.94496 8.58579 4.71633Z"
                                                    fill="#323232"></path>
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M2.38203 4.51599C2.7211 4.08004 3.34938 4.00151 3.78533 4.34058L21.7853 18.3406C22.2213 18.6796 22.2998 19.3079 21.9607 19.7439C21.6217 20.1798 20.9934 20.2584 20.5574 19.9193L17.5965 17.6164L17.556 17.6569C14.4319 20.7811 9.36653 20.7811 6.24234 17.6569L4.07447 15.489C3.4476 14.8622 2.90746 14.3221 2.5331 13.8315C2.1319 13.3056 1.82812 12.7208 1.82812 12C1.82812 11.2792 2.1319 10.6944 2.5331 10.1686C2.90746 9.6779 3.44759 9.13783 4.07447 8.51102L4.86863 7.71687L2.55745 5.91928C2.1215 5.58021 2.04296 4.95194 2.38203 4.51599ZM12.7566 13.852L14.4455 15.1656C13.7694 15.6887 12.921 16 12 16C9.79086 16 8 14.2092 8 12C8 11.4344 8.11741 10.8962 8.32918 10.4084L10.0191 11.7228C10.0065 11.8134 10 11.906 10 12C10 13.1046 10.8954 14 12 14C12.2678 14 12.5232 13.9474 12.7566 13.852Z"
                                                    fill="#323232"></path>
                                            </g>
                                        </svg> -->
                            </div>
                            <div class="flex justify-end">
                                <!-- <div class="flex items-start">
                                            <div class="flex items-center h-5">
                                                <input id="remember" value="off" type="checkbox" name="remember_me"
                                                    class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-600 dark:border-gray-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800">
                                            </div>
                                            <label for="remember"
                                                class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Remember
                                                me</label>
                                        </div> -->
                                <a href="#" class="text-sm text-blue-700 hover:underline dark:text-blue-500">Lost
                                    Password?</a>
                            </div>
                            <button type="submit"
                                class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Login
                                to your account</button>
                            <div class="text-sm font-medium text-gray-500 dark:text-gray-300">
                                Not registered? <a href="#" id="signup-btn"
                                    class="text-blue-700 hover:underline dark:text-blue-500">Create
                                    account</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div id="signup" class="relative w-full h-full max-w-lg md:h-auto hidden">
                <!-- Modal content -->
                <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                    <button type="button"
                        class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white"
                        data-modal-hide="authentication-modal">
                        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                    <div class="px-6 py-6 lg:px-8">
                        <h3 class="text-xl font-medium text-gray-900 dark:text-white">Create Account</h3>
                        <form class="space-y-6 mt-6" action="/auth/join" method="post">
                            {% csrf_token %}
                            <div class="grid md:grid-cols-2 md:gap-6">
                                <div class="relative z-0 w-full group">
                                    <label for="email"
                                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">First
                                        Name</label>
                                    <input type="text" name="first_name" id="first_name"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                                        placeholder="First Name" required>
                                </div>
                                <div class="relative z-0 w-full group">
                                    <label for="email"
                                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Last
                                        Name</label>
                                    <input type="text" name="last_name" id="last_name"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                                        placeholder="Last Name" required>
                                </div>
                            </div>
                            <div>
                                <label for="email"
                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
                                <input type="email" name="email" id="email"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                                    placeholder="name@company.com" required>
                            </div>
                            <div>
                                <label for="password"
                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
                                <div>
                                    <input type="password" name="password" id="password"
                                        placeholder="Enter your password"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg
                                                                        focus:ring-blue-500 focus:border-blue-500 w-full p-2.5 dark:bg-gray-600
                                                                        dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" required>
                                </div>
                                <div id="pass-eye" class="absolute right-10 mr-1 text-gray-600 -mt-8 cursor-pointer"><i
                                        aria-hidden="true" class="fas fa-eye-slash"></i></div>
                            </div>
                            <button type="submit"
                                class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Registration</button>
                            <div class="text-sm font-medium text-gray-500 dark:text-gray-300">
                                Already have an account? <a href="#" id="login-btn"
                                    class="text-blue-700 hover:underline dark:text-blue-500">Login</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div data-dial-init class="fixed left-6 bottom-6 group">
            <div id="speed-dial-menu-click" class="bg-gray-400 px-2 flex flex-col items-center hidden rounded-lg mb-4 space-y-2">
                <form class="mt-10 mb-1 p-4 bg-white rounded-lg">
                    <div class="mb-6">
                        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your
                            email</label>
                        <input type="email" id="email"
                            class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
                            placeholder="name@flowbite.com" required>
                    </div>
                    <div class="mb-6">
                        <label for="repeat-password"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Message</label>
                        <textarea type="password" id="repeat-password" rows="5"
                            class="resize-none w-72 shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
                            required></textarea>
                    </div>
                    <button type="submit"
                        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
                </form>

            </div>
            <button type="button" data-dial-toggle="speed-dial-menu-click" data-dial-trigger="click"
                aria-controls="speed-dial-menu-click" aria-expanded="false"
                class="flex items-center justify-center text-white bg-blue-700 rounded-full w-12 h-12 hover:bg-blue-800 dark:bg-blue-600 dark:hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 focus:outline-none dark:focus:ring-blue-800 z-50">
                <i class="fa-solid fa-question fa-beat"></i>

                <span class="sr-only">Open actions menu</span>
            </button>
        </div>

    </div>

    </div>
    <script src="{% static 'js/flowbite.min.js' %}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/fontawesome.min.js' %}"></script>
    <script>
        const $targetEl = document.getElementById('searchModal');
        const options = {
            placement: 'top-center',
            backdrop: 'dynamic',
            backdropClasses: 'bg-gray-900 bg-opacity-50 dark:bg-opacity-80 fixed inset-0 z-40',
            closable: true
        };
        const modal = new Modal($targetEl, options);
    </script>
    <script>
        $("#fake-input").click(function () {
            modal.show();
            $('#search-input').focus();
        })
        $("#search-icon").click(function () {
            modal.show();
            $('#search-input').focus();
        })
        $('#search-modal-close').click(function () {
            modal.hide();
        })
        $(document).keydown(function (evt) {
            if (evt.ctrlKey && evt.shiftKey && evt.keyCode == 83) {
                evt.preventDefault();
                modal.toggle();
                $('#search-input').focus();
            }
        });
        $("#search-input").on("keyup change", function () {
            $.ajax({
                url: "http://localhost:8000/search/question",
                data: {
                    "query": $("#search-input").val(),
                },
                method: "GET",
                success: function (response) {
                    var rlist = $("#result-list");
                    rlist.empty();
                    if (response.length == 0) {
                        rlist.append(
                            `<li class="text-center">
                                <h3>No Result Found<h3>
                            </li>`
                        )
                    }
                    else {
                        for (result in response){
                            rlist.append(
                                `<li>
                                    <a href="#"
                                    class="flex items-center justify-between p-2 text-base text-gray-800 rounded-lg hover:bg-gray-100 group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white">
                                    <span class="flex ml-1">${result}. ${response[result]['question']}</span>
                                    <div class="flex flex-col jsutify-center items-center w-24">
                                        <span class="text-sm">${response[result]['user']['first_name']}</span>
                                    </div>
                                    </a>
                                </li>`
                            )
                        }
                    }
                }
            })
        })
    </script>
    <script>
        const loginbtn = document.getElementById("login-btn");
        const signupbtn = document.getElementById("signup-btn");
        const login_div = document.getElementById("login");
        const signup_div = document.getElementById("signup");

        loginbtn.addEventListener("click", function () {
            if (login_div.classList.contains("hidden")) {
                login_div.classList.remove("hidden");
                signup_div.classList.add("hidden");
            } else {
                dilogin_divv1.classList.add("hidden");
                signup_div.classList.remove("hidden");
            }
        });
        signupbtn.addEventListener("click", function () {
            if (signup_div.classList.contains("hidden")) {
                signup_div.classList.remove("hidden");
                login_div.classList.add("hidden");
            } else {
                signup_div.classList.add("hidden");
                login_div.classList.remove("hidden");
            }
        });

    </script>
    <script>
        $("#pass-eye").click(function () {
            var pass = $(this).parent().children().find("input[id=password]");
            var pass_eye = $(this).parent().children().find("i[id=pass-eye]");
            if (pass.attr('type') === "password") {
                pass.attr('type', 'text');
                $(this).find('[data-fa-i2svg]')
                    .toggleClass('fa-eye')
                    .toggleClass('fa-eye-slash');
            }
            else {
                pass.attr('type', 'password');
                $(this).find('[data-fa-i2svg]')
                    .toggleClass('fa-eye')
                    .toggleClass('fa-eye-slash');
            }
        })
    </script>
    <script>
        var prevScrollpos = window.pageYOffset;
        window.onscroll = function () {
            var currentScrollPos = window.pageYOffset;
            if (prevScrollpos < currentScrollPos) {
                if (!$("#second-nav").hasClass("scrolling")) {
                    $("#second-nav").addClass("scrolling")
                }
            } else {
                if ($("#second-nav").hasClass("scrolling")) {
                    $("#second-nav").removeClass("scrolling")
                }
            }
            prevScrollpos = currentScrollPos;
        }
    </script>
    {% block js %}{% endblock js %}
</body>

</html>