{% extends 'quran-base.html' %}
{% load static %}
{% load custom_tags %}

{% block title %}কুরআন মাজিদ | {{sura.bn_name}}{% endblock title %}
{% block main_content %}

<div class="px-2">

    <div class="flex">

        <div id="sura-list" class="hidden md:block border border-gray-200 bg-white dark:bg-gray-800 w-44 flex-none left-0 fixed top-14 bottom-0 z-30 overflow-y-auto dark:border-slate-700">
            <div class="flex flex-col py-2">
            {% for sura_info in sura_list %}
                <a href="/quran/sura/{{sura_info.id}}" class="p-2 hover:bg-gray-100 dark:hover:bg-gray-700 cursor-pointer sura-list {% if sura_info.id == sura.id %}selected{% endif %} font-solaimanlipi">{% number_convert 'english_to_bengali' sura_info.id %}. {{sura_info.bn_name}}</a>
            {% endfor %}
            </div>
        </div>

        <div class="skeleton flex flex-col flex-auto ml-40 mr-52 mt-5 gap-3">

            <div role="status" class="flex justify-between items-center border-2 animate-pulse border-gray-100 dark:border-gray-600 bg-lime-100 dark:bg-teal-950 bg-opacity-40 px-5 rounded-lg">
                <div class="flex flex-col gap-3">
                    <div class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-600 w-24"></div>
                    <div class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-600 w-24"></div>
                </div>
                <div class="mt-10 mb-10 h-8 bg-gray-200 rounded-full dark:bg-gray-600 w-60"></div>
                <div class="flex flex-col gap-3">
                    <div class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-600 w-24"></div>
                    <div class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-600 w-24"></div>
                </div>
            </div>

            <div role="status" class="w-full p-4 space-y-4 border border-gray-200 rounded shadow animate-pulse dark:divide-gray-700 md:p-6 dark:border-gray-700">
                <div class="flex w-full justify-start">
                    <div class="border-2 rounded-xl w-16 h-6 border-gray-200 dark:border-gray-600 text-gray-500 text-center mr-3"></div>
                    <div class="rounded-full w-6 h-6 bg-gray-200 dark:bg-gray-600 text-center mr-3"></div>
                    <div class="rounded-full w-6 h-6 bg-gray-200 dark:bg-gray-600 text-center mr-3"></div>
                    <div class="rounded-full w-6 h-6 bg-gray-200 dark:bg-gray-600 text-center mr-3"></div>
                    <div class="rounded-full w-6 h-6 bg-gray-200 dark:bg-gray-600 text-center mr-3"></div>
                </div>
                <div class="flex flex-col gap-1">
                    <div class="rounded-xl w-full h-4 bg-gray-200 dark:bg-gray-600"></div>
                    <div class="flex justify-end">
                        <div class="rounded-xl w-1/2 h-4 bg-gray-200 dark:bg-gray-600"></div>
                    </div>
                </div>
                <div class="rounded-xl w-32 h-2 bg-gray-200 dark:bg-gray-600"></div>
                <div class="flex flex-col gap-1">
                    <div class="rounded-xl w-full h-4 bg-gray-200 dark:bg-gray-600"></div>
                    <div class="flex">
                        <div class="rounded-xl w-full h-4 bg-gray-200 dark:bg-gray-600"></div>
                    </div>
                </div>
            </div>
            <div role="status" class="w-full p-4 space-y-4 border border-gray-200 rounded shadow animate-pulse dark:divide-gray-700 md:p-6 dark:border-gray-700">
                <div class="flex w-full justify-start">
                    <div class="border-2 rounded-xl w-16 h-6 border-gray-200 dark:border-gray-600 text-gray-500 text-center mr-3"></div>
                    <div class="rounded-full w-6 h-6 bg-gray-200 dark:bg-gray-600 text-center mr-3"></div>
                    <div class="rounded-full w-6 h-6 bg-gray-200 dark:bg-gray-600 text-center mr-3"></div>
                    <div class="rounded-full w-6 h-6 bg-gray-200 dark:bg-gray-600 text-center mr-3"></div>
                    <div class="rounded-full w-6 h-6 bg-gray-200 dark:bg-gray-600 text-center mr-3"></div>
                </div>
                <div class="flex flex-col gap-1">
                    <div class="rounded-xl w-full h-4 bg-gray-200 dark:bg-gray-600"></div>
                    <div class="flex justify-end">
                        <div class="rounded-xl w-1/2 h-4 bg-gray-200 dark:bg-gray-600"></div>
                    </div>
                </div>
                <div class="rounded-xl w-32 h-2 bg-gray-200 dark:bg-gray-600"></div>
                <div class="flex flex-col gap-1">
                    <div class="rounded-xl w-full h-4 bg-gray-200 dark:bg-gray-600"></div>
                    <div class="flex">
                        <div class="rounded-xl w-full h-4 bg-gray-200 dark:bg-gray-600"></div>
                    </div>
                </div>
            </div>
            <div role="status" class="w-full p-4 space-y-4 border border-gray-200 rounded shadow animate-pulse dark:divide-gray-700 md:p-6 dark:border-gray-700">
                <div class="flex w-full justify-start">
                    <div class="border-2 rounded-xl w-16 h-6 border-gray-200 dark:border-gray-600 text-gray-500 text-center mr-3"></div>
                    <div class="rounded-full w-6 h-6 bg-gray-200 dark:bg-gray-600 text-center mr-3"></div>
                    <div class="rounded-full w-6 h-6 bg-gray-200 dark:bg-gray-600 text-center mr-3"></div>
                    <div class="rounded-full w-6 h-6 bg-gray-200 dark:bg-gray-600 text-center mr-3"></div>
                    <div class="rounded-full w-6 h-6 bg-gray-200 dark:bg-gray-600 text-center mr-3"></div>
                </div>
                <div class="flex flex-col gap-1">
                    <div class="rounded-xl w-full h-4 bg-gray-200 dark:bg-gray-600"></div>
                    <div class="flex justify-end">
                        <div class="rounded-xl w-1/2 h-4 bg-gray-200 dark:bg-gray-600"></div>
                    </div>
                </div>
                <div class="rounded-xl w-32 h-2 bg-gray-200 dark:bg-gray-600"></div>
                <div class="flex flex-col gap-1">
                    <div class="rounded-xl w-full h-4 bg-gray-200 dark:bg-gray-600"></div>
                    <div class="flex">
                        <div class="rounded-xl w-full h-4 bg-gray-200 dark:bg-gray-600"></div>
                    </div>
                </div>
            </div>
            <div role="status" class="w-full p-4 space-y-4 border border-gray-200 rounded shadow animate-pulse dark:divide-gray-700 md:p-6 dark:border-gray-700">
                <div class="flex w-full justify-start">
                    <div class="border-2 rounded-xl w-16 h-6 border-gray-200 dark:border-gray-600 text-gray-500 text-center mr-3"></div>
                    <div class="rounded-full w-6 h-6 bg-gray-200 dark:bg-gray-600 text-center mr-3"></div>
                    <div class="rounded-full w-6 h-6 bg-gray-200 dark:bg-gray-600 text-center mr-3"></div>
                    <div class="rounded-full w-6 h-6 bg-gray-200 dark:bg-gray-600 text-center mr-3"></div>
                    <div class="rounded-full w-6 h-6 bg-gray-200 dark:bg-gray-600 text-center mr-3"></div>
                </div>
                <div class="flex flex-col gap-1">
                    <div class="rounded-xl w-full h-4 bg-gray-200 dark:bg-gray-600"></div>
                    <div class="flex justify-end">
                        <div class="rounded-xl w-1/2 h-4 bg-gray-200 dark:bg-gray-600"></div>
                    </div>
                </div>
                <div class="rounded-xl w-32 h-2 bg-gray-200 dark:bg-gray-600"></div>
                <div class="flex flex-col gap-1">
                    <div class="rounded-xl w-full h-4 bg-gray-200 dark:bg-gray-600"></div>
                    <div class="flex">
                        <div class="rounded-xl w-full h-4 bg-gray-200 dark:bg-gray-600"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="sura-main flex-auto md:ml-44 md:mr-56 hidden">

            <div class="flex justify-between items-center border-2 border-teal-700 dark:border-gray-500 dark:text-white bg-lime-100 dark:bg-teal-950 bg-opacity-40 px-5 mt-5 rounded-lg">
                <div class="flex flex-col">
                    <span class="font-bold suraname font-solaimanlipi text-xl">{{sura.bn_name}}</span>
                    <span class="font-bold font-solaimanlipi text-lg">{{sura.translation}}</span>
                </div>
                <div class="font-suraname text-lime-700 dark:text-white text-9xl">{{sura.index}}</div>
                <div class="flex flex-col">
                    <span class=" font-solaimanlipi">আয়াত: <span class="font-bold">{% number_convert 'english_to_bengali' sura.total_verses %}</span></span>
                    <span class=" font-solaimanlipi">নাযিল: <span class="font-bold">{{sura.bn_type}}</span></span>
                </div>
            </div>
        
            {% if sura.id != 1 and sura.id != 9 %}
                <div class="flex justify-center mt-6 text-6xl font-bismillah"><span>g</span></div>
            {% endif %}
            
            <div class="flex flex-col gap-3 py-3" id="translate">
                {% for verse in verses %}
                <div class="border-2 border-gray-200 dark:border-gray-600 rounded-xl bg-white dark:bg-gray-800">
                    <div class="flex flex-col p-3">
                        {% comment %} <div id="play-tooltip" role="tooltip" class="absolute z-30 invisible inline-block px-2 py-1 text-xs font-medium text-white bg-lime-950 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                            তিলাওয়াত শুনুন
                        </div>
                        <div id="bookmark-tooltip" role="tooltip" class="absolute z-30 invisible inline-block px-2 py-1 text-xs font-medium text-white bg-lime-950 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                            বুকমার্ক
                        </div>
                        <div role="tooltip" id="copy-tooltip" class="absolute z-30 invisible inline-block px-2 py-1 text-xs font-medium text-white bg-lime-950 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                            কপি করুন
                        </div>
                        <div role="tooltip" id="note-tooltip" class="absolute z-30 invisible inline-block px-2 py-1 text-xs font-medium text-white bg-lime-950 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                            নোট যুক্ত করুন
                        </div> {% endcomment %}
                        <div class="flex items-center">
                            <div class="statistic font-solaimanlipi px-2 border rounded-xl w-16 border-gray-300 dark:border-gray-600 text-gray-500 text-center mr-3">
                              {% number_convert 'english_to_bengali' sura.id %}:{% number_convert 'english_to_bengali' verse.id %}
                            </div>
                            <i data-tooltip-targets="play-tooltip" onclick="play('{% make_3_digit sura.id %}', '{% make_3_digit verse.id %}');" aya="{% make_3_digit ayat.aya %}" class="fa-solid fa-play text-gray-500 rounded-full hover:bg-green-200 dark:hover:bg-gray-700 hover:text-lime-700 dark:hover:text-gray-200 text-center p-2 w-4 h-4 cursor-pointer"></i>
                            <i data-tooltip-targets="bookmark-tooltip" class="fa-regular fa-bookmark text-gray-500 rounded-full hover:bg-green-200 dark:hover:bg-gray-700 hover:text-lime-700 dark:hover:text-gray-200 text-center p-2 w-4 h-4 cursor-pointer"></i>
                            <i data-tooltip-targets="copy-tooltip" id="copy-icon" ionclick="copyClipboard('{{sura.bn_name}}', '{% number_convert 'english_to_bengali' sura.id %}', '{% number_convert 'english_to_bengali' verse.id %}', '{{verse.arabic_text}}', '{{verse.translation}}');" class="fa-solid fa-copy text-gray-500 rounded-full hover:bg-green-200 dark:hover:bg-gray-700 hover:text-lime-700 dark:hover:text-gray-200 text-center p-2 w-4 h-4 cursor-pointer"></i>
                            <i data-tooltip-targets="note-tooltip" class="fa-solid fa-notes-medical text-gray-500 rounded-full hover:bg-green-200 dark:hover:bg-gray-700 hover:text-lime-700 dark:hover:text-gray-200 text-center p-2 w-4 h-4 cursor-pointer"></i>
                        </div>
                          
                        <div class="flex flex-row-reverse flex-wrap gap-3 arabic-ayat pt-4 pb-3">
                            {% for word in verse.words %}
                                <span class="flex flex-col gap-2 items-center cursor-pointer group" onclick="pronunsiation( {{sura.id}}, '{% make_3_digit sura.id %}', '{% make_3_digit verse.id %}', '{% make_3_digit word.wid %}');">
                                    <span class="font-kfgq text-3xl group-hover:text-lime-600">{{word.ar}}</span>
                                    <span class="font-solaimanlipi text-sm word-translate group-hover:text-green-500">{{word.bn}}</span>
                                </span>
                            {% endfor %}
                        </div>
                        <div class="flex py-2 items-center">
                            <div class="text-lime-700 dark:text-lime-500 font-solaimanlipi pr-2 py-0 leading-4 border-r-2 border-r-lime-700 cursor-pointer"><span class="text-green-500 text-sm">{{sura.language}}</span> - {{sura.translate_by}}</div>
                            <div id="see-tafseer" class="text-orange-500 font-solaimanlipi pl-2 hover:font-bold hover:tracking-wide cursor-pointer">তাফসীর <i class="fa-solid fa-arrow-right-long"></i></div>
                        </div>
                        <div class="translated-ayat text-start text-xl py-2 font-solaimanlipi">{{verse.translation}}</div>
                    </div>
                    <div id="tafseer" class="tafseer-sec h-0 font-kfgq flex flex-col overflow-hidden">{% if verse.footnotes %}{{verse.footnotes|safe}}{%else%}<span class="text-center">দুঃখিত!! এই আয়াতের তাফসীর পাওয়া যাইনি</span>{%endif%}</div>
                </div>
                {% endfor %}
            </div>

            <div id="reading" class="flex w-full max-w-4xl mx-auto hidden" style="direction: rtl;">
                <div class="inline-block">
                    {% for ayat in sura.ayats %}
                        <div class="flex text-4xl my-6 leading-relaxed"><span class="ml-3 font-ayano">{% number_convert 'english_to_arabic' ayat.aya %}</span><span class="font-kfgq">{{ayat.arabic_text}}</span></div>
                    {% endfor %}
                </div>
            </div>
        </div>

        {% comment %} <div id="audio-player" class="flex-auto fixed bottom-0 ml-40 mr-52">
            <div class="flex items-center">
              <button id="play-pause-btn" class="mr-4 focus:outline-none"><i class="fas fa-play"></i></button>
              <div id="audio-progress" class="flex-grow h-2 bg-gray-300 rounded overflow-hidden">
                <div id="audio-progress-bar" class="h-full bg-blue-500"></div>
              </div>
              <div id="audio-time" class="text-xs ml-4">0:00 / 0:00</div>
            </div>
          </div> {% endcomment %}
                  

        <div id="settings-right-drawer" class="flex md:hidden fixed right-0 bottom-20 w-8 h-8 bg-gray-600 bg-opacity-50 cursor-pointer text-white border border-gray-400 justify-center items-center"><i class="fa-solid fa-gear fa-spin"></i></div>
        
        <div id="accordion-flush" class="right-drawer hidden md:block flex-none right-0 z-30 bg-white dark:bg-gray-800 w-56 fixed top-14 bottom-0 py-4 border border-gray-200 dark:border-slate-700" always-open="true" data-accordion="collapse" data-active-classes="bg-white dark:bg-gray-900 text-gray-900 dark:text-white" data-inactive-classes="text-gray-500 dark:text-gray-400">
            <h2 id="accordion-flush-heading-1">
                <button type="button" class="accordion-btn flex items-center justify-between w-full py-2 font-medium text-left text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400" data-accordion-target="#accordion-flush-body-1" aria-expanded="true" aria-controls="accordion-flush-body-1">
                    <span><i class="fa-solid fa-book fa-xl text-lime-600 pl-2 pr-3"></i> Reading Settings</span>
                    <svg data-accordion-icon class="w-6 h-6 rotate-180 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                </button>
            </h2>
            <div id="accordion-flush-body-1" class="hidden px-2" aria-labelledby="accordion-flush-heading-1">
                <div class="py-3 border-b border-gray-200 dark:border-gray-700">
                    <div class="flex items-center my-3">
                        <input checked id="word-by-word" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="word-by-word" class="ml-2 text-sm font-medium dark:text-white">শব্দে শব্দে কুরআন</label>
                    </div>
                    <label for="mode-select" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">মোড</label>
                    <ul class="flex justify-center w-full gap-2 flex-wrap mb-2" id="mode-select">
                        <li>
                            <input type="radio" id="tarns" name="mode" value="translate" class="hidden peer" checked>
                            <label for="tarns" class="inline-flex items-center justify-between w-full p-2 gap-2 text-gray-500 bg-white border-2 border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 dark:peer-checked:text-blue-500 peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">                           
                                <div class="w-full">অনুবাদ</div>
                                <i class="fa-solid fa-language"></i>
                            </label>
                        </li>
                        <li>
                            <input type="radio" id="tfsr" name="mode" value="tafseer" class="hidden peer" checked>
                            <label for="tfsr" class="inline-flex items-center justify-between w-full p-2 gap-2 text-gray-500 bg-white border-2 border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 dark:peer-checked:text-blue-500 peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">                           
                                <div class="w-full">তাফসীর</div>
                                <i class="fa-solid fa-language"></i>
                            </label>
                        </li>
                        <li>
                            <input type="radio" id="read" name="mode" value="read" class="hidden peer">
                            <label for="read" class="inline-flex items-center justify-between w-full p-2 gap-2 text-gray-500 bg-white border-2 border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 dark:peer-checked:text-blue-500 peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">
                                <div class="w-full">রিডিং</div>
                                <i class="fa-brands fa-readme"></i>
                            </label>
                        </li>
                    </ul>
                    <label for="quran-font" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">এরাবিক ফন্ট</label>
                    <select id="quran-font" current-font="kfgq" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        <option value="kfgq" selected>KFGQ Hafs</option>
                        <option value="amiri">Amiri</option>
                        <option value="alqalam">Al Qalam</option>
                        <option value="noorehidayat">Noore Hidayat </option>
                        <option value="noorehira">Noore Hira </option>
                        <option value="pdms">PDMS Saleem </option>
                        <option value="qur_std">Quran Standard </option>
                    </select>
                </div>
            </div>
            <h2 id="accordion-flush-heading-2">
                <button type="button" class="flex items-center justify-between w-full py-2 font-medium text-left text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400" data-accordion-target="#accordion-flush-body-2" aria-expanded="false" aria-controls="accordion-flush-body-2">
                    <span>Is there a Figma file available?</span>
                    <svg data-accordion-icon class="w-6 h-6 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                </button>
            </h2>
            <div id="accordion-flush-body-2" class="hidden" aria-labelledby="accordion-flush-heading-2">
                <div class="py-3 border-b border-gray-200 dark:border-gray-700">
                    <p class="mb-2 text-gray-500 dark:text-gray-400">Flowbite is first conceptualized and designed using the Figma software so everything you see in the library has a design equivalent in our Figma file.</p>
                    <p class="text-gray-500 dark:text-gray-400">Check out the <a href="https://flowbite.com/figma/" class="text-blue-600 dark:text-blue-500 hover:underline">Figma design system</a> based on the utility classes from Tailwind CSS and components from Flowbite.</p>
                </div>
            </div>
            <h2 id="accordion-flush-heading-3">
                <button type="button" class="flex items-center justify-between w-full py-2 font-medium text-left text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400" data-accordion-target="#accordion-flush-body-3" aria-expanded="false" aria-controls="accordion-flush-body-3">
                    <span>What are the differences between Flowbite and Tailwind UI?</span>
                    <svg data-accordion-icon class="w-6 h-6 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                </button>
            </h2>
            <div id="accordion-flush-body-3" class="hidden" aria-labelledby="accordion-flush-heading-3">
                <div class="py-3 border-b border-gray-200 dark:border-gray-700">
                    <p class="mb-2 text-gray-500 dark:text-gray-400">The main difference is that the core components from Flowbite are open source under the MIT license, whereas Tailwind UI is a paid product. Another difference is that Flowbite relies on smaller and standalone components, whereas Tailwind UI offers sections of pages.</p>
                    <p class="mb-2 text-gray-500 dark:text-gray-400">However, we actually recommend using both Flowbite, Flowbite Pro, and even Tailwind UI as there is no technical reason stopping you from using the best of two worlds.</p>
                    <p class="mb-2 text-gray-500 dark:text-gray-400">Learn more about these technologies:</p>
                    <ul class="pl-5 text-gray-500 list-disc dark:text-gray-400">
                    <li><a href="https://flowbite.com/pro/" class="text-blue-600 dark:text-blue-500 hover:underline">Flowbite Pro</a></li>
                    <li><a href="https://tailwindui.com/" rel="nofollow" class="text-blue-600 dark:text-blue-500 hover:underline">Tailwind UI</a></li>
                    </ul>
                </div>
            </div>
        </div>    
    </div>

</div>

{% endblock main_content %}

{% block js %}

<script>
    function convertToBanglaDigits(number) {
        const banglaDigits = {
          0: '০',
          1: '১',
          2: '২',
          3: '৩',
          4: '৪',
          5: '৫',
          6: '৬',
          7: '৭',
          8: '৮',
          9: '৯'
        };
      
        const englishDigits = number.toString().split('');
        let banglaNumber = '';
      
        for (let i = 0; i < englishDigits.length; i++) {
          if (banglaDigits.hasOwnProperty(englishDigits[i])) {
            banglaNumber += banglaDigits[englishDigits[i]];
          } else {
            banglaNumber += englishDigits[i];
          }
        }
      
        return banglaNumber;
      }
      
</script>

<script>
    function makeThreeDigit(number) {
        if (number < 10) {
            return "00" + number;
        } else if (number < 100) {
            return "0" + number;
        } else {
            return number;
        }    
    }
      
</script>

<script>
    byword = localStorage.getItem('byword');
    if (byword === 'true') {
        $('input[id="word-by-word"]').prop('checked', true);
        $(".word-translate").removeClass("hidden");
        $(".word-translate-tooltip").addClass("hidden");
    } else {
        $('input[id="word-by-word"]').prop('checked', false);
        $(".word-translate").addClass("hidden");
        $(".word-translate-tooltip").removeClass("hidden");
    }
    
    arabic_font = localStorage.getItem('quran-font')
    mode = localStorage.getItem('mode');
    if (mode === 'translate') {
        $('input[name="mode"][value="translate"]').prop('checked', true);
        $("#translate").removeClass("hidden");
        $("#reading").addClass("hidden");
    } else if (mode === 'read') {
        $('input[name="mode"][value="read"]').prop('checked', true);
        $("#reading").removeClass("hidden");
        $("#translate").addClass("hidden");
    } else {
        $('input[name="mode"][value="tafseer"]').prop('checked', true);
        $("#reading").addClass("hidden");
        $("#translate").removeClass("hidden");
        $(".tafseer-sec").addClass("h-auto max-h-96 border-t-2 border-t-gray-200 dark:border-t-gray-600 p-3 overflow-y-auto");
            $(".tafseer-sec").removeClass("h-0 overflow-hidden");
    }
    $(".font-kfgq").each(function (index, element) {
        $(this).removeClass('font-kfgq')
        $(this).addClass('font-'+arabic_font)
    });
    $('#quran-font').attr("current-font", arabic_font)
    $('#quran-font').val(arabic_font);
    $('#quran-font').on('change', function() {
        var arabic_font = $(this).attr("current-font");
        var new_font = this.value
        localStorage.setItem('quran-font', new_font)
        $(this).attr("current-font", this.value)
        $(".font-"+arabic_font).each(function (index, element) {
            $(this).removeClass('font-'+arabic_font)
            $(this).addClass('font-'+new_font)
        });
    });
    $(document).on("click", "#see-tafseer", function(event) {
        let tafseer = $(this).parent().parent().parent().find("#tafseer");
        if (tafseer.hasClass("h-0")) {
            tafseer.removeClass("h-0 overflow-hidden");
            tafseer.addClass("h-auto max-h-96 border-t-2 border-t-gray-200 dark:border-t-gray-600 p-3 overflow-y-auto");
        } else {
            tafseer.addClass("h-0 overflow-hidden");
            tafseer.removeClass("h-auto max-h-96 border-t-2 border-t-gray-200 dark:border-t-gray-600 p-3 overflow-y-auto");
        }
    });
    
    var audio = null; // Declare audio variable outside of the play function

    function play(sura, aya) {
        if (audio) {
            audio.pause(); // Pause any existing audio
        }
        var audioSrc = `https://everyayah.com/data/Alafasy_128kbps/${sura}${aya}.mp3`;
        audio = new Audio(audioSrc);
        audio.play();
        //var playPauseBtn = document.getElementById('play-pause-btn');
        //var audioProgressBar = document.getElementById('audio-progress-bar');
        //var audioTime = document.getElementById('audio-time');
        //
        //audio.addEventListener('loadedmetadata', function() {
        //  var duration = Math.round(audio.duration);
        //  audioTime.innerText = `0:00 / ${formatTime(duration)}`;
        //});
        //
        //audio.addEventListener('timeupdate', function() {
        //  var currentTime = Math.round(audio.currentTime);
        //  var duration = Math.round(audio.duration);
        //  var progress = (currentTime / duration) * 100;
        //  audioProgressBar.style.width = `${progress}%`;
        //  audioTime.innerText = `${formatTime(currentTime)} / ${formatTime(duration)}`;
        //});
        //
        //playPauseBtn.addEventListener('click', function() {
        //  if (audio.paused) {
        //    audio.play();
        //    playPauseBtn.innerHTML = '<i class="fas fa-pause"></i>';
        //  } else {
        //    audio.pause();
        //    playPauseBtn.innerHTML = '<i class="fas fa-play"></i>';
        //  }
        //});
        //
        //function formatTime(seconds) {
        //  var minutes = Math.floor(seconds / 60);
        //  var remainingSeconds = seconds % 60;
        //  return `${minutes}:${remainingSeconds.toString().padStart(2, '0')}`;
        //}
      };
</script>

<script>
    $(document).on("click", "#copy-icon", function(event) {
        let tafseer = $(this).parent().parent().parent().parent().find("#tafseer").text();
        let suraname = $(".suraname").text();
        let statistics = $(this).parent().parent().find(".statistic").text().replaceAll(" ", "").replaceAll("\n", "");
        let arabic = $(this).parent().parent().parent().find(".arabic-ayat").text();
        let translate = $(this).parent().parent().parent().find(".translated-ayat").text();
        const textToCopy = `${arabic}\n${translate}\n\n${suraname} (${statistics})\nsource: www.iqa.com`;
        navigator.clipboard.writeText(textToCopy)
          .then(() => {
            // add a toast notification with animated success icon using Tailwind CSS
            var toastContainer = document.createElement('div');
            toastContainer.className = 'fixed top-14 left-0 right-0 flex justify-center items-center z-50';
      
            var toast = document.createElement('div');
            toast.className = 'bg-white border-2 border-green-500 text-gray-700 px-4 py-2 rounded-lg shadow-md flex items-center justify-between';
            
            var toastMessage = document.createElement('div');
            toastMessage.innerText = 'ক্লিপবোর্ডে কপি করা হয়েছে!';
      
            var successIcon = document.createElement('i');
            successIcon.className = 'fas fa-check text-green-500 text-2xl mr-3';
      
            toast.appendChild(successIcon);
            toast.appendChild(toastMessage);
            toastContainer.appendChild(toast);
            document.body.appendChild(toastContainer);
      
            setTimeout(function() {
              toastContainer.remove();
            }, 3000); // hide the toast after 3 seconds
          });
      });
      
</script>

<script>
    const $rightDrawer = document.getElementById('accordion-flush');
    const rightDrawerOptions = {
        placement: 'right',
        backdrop: true,
        bodyScrolling: false,
        edge: false,
        edgeOffset: '',
        backdropClasses: 'bg-gray-900 bg-opacity-50 dark:bg-opacity-80 fixed inset-0 z-20',
        onHide: function() {
            if (window.innerWidth >= 768) {
                $("#accordion-flush").removeClass("hidden");
                $("#accordion-flush").removeClass("transition-transform");
                $("#accordion-flush").removeClass("translate-x-full");
            }
        }
    };
    const rightDrawer = new Drawer($rightDrawer, rightDrawerOptions);
    $("#settings-right-drawer").click(function() {
        rightDrawer.show();
        $rightDrawer.classList.remove('hidden');
    });

    const $leftDrawer = document.getElementById('sura-list');
    const leftDrawerOptions = {
        placement: 'left',
        backdrop: true,
        bodyScrolling: true,
        edge: false,
        edgeOffset: '',
        backdropClasses: 'bg-gray-900 bg-opacity-50 dark:bg-opacity-80 fixed inset-0 z-20',
        onHide: function() {
            if (window.innerWidth >= 768) {
                $("#sura-list").removeClass("hidden");
                $("#sura-list").removeClass("transition-transform");
                $("#sura-list").removeClass("-translate-x-full");
            }
        }
    };
    const leftDrawer = new Drawer($leftDrawer, leftDrawerOptions);
    $("#slist-icon").click(function() {
        leftDrawer.show();
        $leftDrawer.classList.remove('hidden');
    });

    $(window).on('resize', function(){
        var win = $(this); //this = window
        if (win.width() > 767) {
            $("#sura-list").removeClass("hidden");
            $("#sura-list").removeClass("transition-transform");
            $("#sura-list").removeClass("-translate-x-full");
            $("#accordion-flush").removeClass("hidden");
            $("#accordion-flush").removeClass("transition-transform");
            $("#accordion-flush").removeClass("translate-x-full");
        } else {
            $("#sura-list").addClass("hidden");
            $("#sura-list").addClass("transition-transform");
            $("#sura-list").addClass("-translate-x-full");
            $("#accordion-flush").addClass("hidden");
            $("#accordion-flush").addClass("transition-transform");
            $("#accordion-flush").addClass("translate-x-full");
            rightDrawer.hide();
            leftDrawer.hide();
        }
    });
</script>

<script>

    $("#word-by-word").change(function() {
        if(this.checked) {
            localStorage.setItem('byword', true);
            $(".word-translate").removeClass("hidden");
            $(".word-translate-tooltip").addClass("hidden");
        } else {
            localStorage.setItem('byword', false);
            $(".word-translate").addClass("hidden");
            $(".word-translate-tooltip").removeClass("hidden");
        }
    });

    const modeSelect = document.getElementById('mode-select');
    modeSelect.addEventListener('change', (event) => {
        localStorage.setItem('mode', event.target.value);
        if (event.target.value === 'translate') {
            $('html, body').scrollTop(0);
            $("#translate").removeClass("hidden");
            $("#reading").addClass("hidden");
            $(".tafseer-sec").addClass("h-0 overflow-hidden");
            $(".tafseer-sec").removeClass("h-auto max-h-96 border-t-2 border-t-gray-200 dark:border-t-gray-600 p-3 overflow-y-auto");
        } else if (event.target.value === 'read') {
            $('html, body').scrollTop(0);
            $("#reading").removeClass("hidden");
            $("#translate").addClass("hidden");
        }
        else {
            $('html, body').scrollTop(0);
            $("#reading").addClass("hidden");
            $("#translate").removeClass("hidden");
            $(".tafseer-sec").addClass("h-auto max-h-96 border-t-2 border-t-gray-200 dark:border-t-gray-600 p-3 overflow-y-auto");
            $(".tafseer-sec").removeClass("h-0 overflow-hidden");
        }
    });

</script>

<script>
    function pronunsiation(sid, a, b, c){
        if (audio) {
            audio.pause();
        }
        audio = new Audio(`https://words.audios.quranwbw.com/${sid}/${a}_${b}_${c}.mp3`);
        audio.play();
    }
</script>

{% endblock js %}